

/* Extra large Screen */
@media screen and (max-width: 1200px) {

    .page-content{
        gap: 3rem;

    }

    .page-content1, .page-content2, .page-content3{
        padding: 1.6rem;
    }

    .about-content2{
        margin-left: 0rem;
    }

    .pricing-contents{
        gap: 3rem;
    }

    .blog-contents{
        gap: 3rem;
    }

    .footer-content{
        flex-basis: 45%;
    }

}



/* Large Screen */
@media screen and (max-width: 992px) {

    body{
        font-size: 40.5%;
    }

    header{
        box-shadow: 2px 4px 6px rgba(10, 95, 136, 0.15);
    }

    nav{
        flex-direction: column;
        padding: 1.8rem 0rem;
    }

    .navbar-nav li{
        display: block;
        text-align: center;
        margin: 1rem 0rem;
    }


    .banner-content h2{
        font-size: 1.75rem;
        line-height: 2rem;
    }
    
    .banner-content p{
        font-size: 1rem;
        line-height: 1.2rem;
    
        margin: 1.1rem 0rem;
    }

    .banner-content a{
        padding: 0.6rem 1.3rem;
    
        font-size: 0.9rem;
    
        margin-top: 0.5rem;
    }

    .page-content{
        flex-direction: column;
    
    }

    .about-content{
        flex-direction: column;
    }

    .about-content2{
        margin-top: 1.5rem;
    }

    .about-content1 .about-text1{
        margin-top: 2.5rem;
        line-height: 1.2rem;
    }
    
    .about-content1 .about-text2{
        margin-top: 1rem;
        line-height: 1.2rem;
    }

    .service-content{
        flex-basis: 50%;
    }

    .check-section input{
        width: 65%;
    }

    .check-section button{
        right: 18%;
    }


    .pricing-content{
        flex-basis: 45%;
    }

    .site-info .container{
        flex-direction: column;
    }

    .site-info_contents{
        margin-right: 0rem;
        margin-bottom: 3rem;
    }

    .blog-content{
        flex-basis: 45%;
    }

    .contact-details{
        gap:1.8rem;
    }

    .form-map{
        flex-direction: column;
        align-items: center;
    }

    .form-section{
        width: 60%;
    }

    .map-section{
        width: 100%;
    }

    .map-section iframe{
        width: inherit;
    }


    .map-section iframe{
        height: 200px;
    }

    .contact-add i{
        font-size: 2rem;
    }

    .contact-add h2{
        font-size: 1.1rem;
    }

    .contact-add address, .contact-add a{
        font-size: 0.8rem;
    }
}



/* Medium Screen */
@media screen and (max-width: 768px) {
    #banner-section .container > div{
        flex-direction: column;

        padding: 3rem 2.5rem;
    }

    .banner-content{
        /* order: 2; */
        margin: 0px;
        margin-top: 2rem;
    }

    .banner-img{
        /* order: 1; */
    }

    .banner-content h2{
        line-height: 2rem;
    }

    .banner-content a{
        font-size: 0.8rem;
        padding: 0.4rem 0.9rem;
    }

    .service-content{
        flex-basis: 100%;
    }

    pricing-contents{
        gap: 0rem;
    }

    .pricing-content{
        flex-basis: 60%;
    }

    .blog-content{
        flex-basis: 100%;
    }

    .contact-details{
        gap: 1.5rem;
        justify-content: space-around;
    }

    .form-section{
        width: 80%;
    }
}



/* small screen */
@media screen and (max-width: 576px) {


    .banner-content a{
        margin-top: 0.5rem;
    }

    .footer-content:first-child{
        flex-basis: 100%;
    }
    
    .footer-content{
        flex-basis: 100%;
    }

    .name{
        flex-flow: column;
    }

    .name div{
        width: 100%;
        /* background-color: #02A55F; */
    }
}